html {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 1.4;
}
.top {
  background-image: url(../images/glasses-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 31rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
header {
  background-color: cadetblue;
  color: white;
  display: flex;
  width: 960px;
  height: 3rem;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-between;
}
.logotype {
  display: flex;
  align-items: center;
  min-width: 320px;
}
.logotype img {
  height: 1.5rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
nav {
  display: flex;
  margin-right: 1rem;
}
ul {
  display: flex;
}
li {
  margin: 1rem;
}
button {
  display: none;
}
.container {
  width: 960px;
  display: flex;
  justify-content: flex-end;
}
.container h1 {
  background-color: white;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
  padding: 1.5rem 5rem;
  margin-top: 10rem;
  margin-right: -2rem;
}
.middle {
  display: flex;
  margin: 3rem 0rem;
  width: 100%;
  justify-content: center;
}
figure {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
figure img {
  margin: 0rem 3rem;
}
.exams img {
  width: 3.5rem;
}
.fittings img, .delivery img{
  width: 5rem;
}
figcaption {
  text-align: center;
  width: 5rem;
}
.exams figcaption {
  text-align: center;
  width: 9rem;
}
.bottom {
  display: flex;
  width: 100%;
  justify-content: center;
}
h3 {
  font-weight: bold;
  font-size: 1rem;
  color: white;
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  text-transform: uppercase;
}
.Philosophy, .Appointments {
  width: 35%;
  margin: 0rem 5%;
}
.Philosophy p, .Appointments p {
  margin-top: 1rem;
}
.hundredpercent {
  width: 100%;
  display: flex;
  justify-content: center;
}
footer {
  background-color: azure;
  height: 9.5rem;
  width: 960px;
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
footer img {
  height: 1.5rem;
  margin: 4rem 1rem 4rem 4rem;
}
@media only screen and (max-width: 880px) {
  .top {
    height: 22rem;
  }
  header {
    margin-top: 0rem;
    width: 100%;
  }
  .container {
    width: 880px;
  }
  .top h1 {
    font-size: 1.33rem;
    padding: 0.75rem 4rem;
    margin-top: 5rem;
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 620px) {
  .top {
    height: 17rem;
    background-position: 20%;
  }
  header {
    width: 100%;
  }
  .container {
    width: 100%;
    justify-content: center;
  }
.container h1 {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 9rem;
    width: 100%;
    text-align: center;
    margin-right: 0rem;
  }
  button {
    display: flex;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    color: white;
    margin-right: 1rem;
  }
  ul {
    display: none;
  }
  .middle {
    flex-direction: column;
    margin: 3rem 0rem;
  }
  figure {
    margin: 0rem 0rem;
    height: auto;
    justify-content: center;
  }
  figure img {
    margin: 0.77rem;
  }
  figcaption {
    font-size: 0.77rem;
    line-height: 1rem;
    margin: 0.77rem;
  }
  .exams figcaption {
    width: 7rem;
  }
  .bottom {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }
  .Philosophy, .Appointments {
    width: 100%;
    margin: 1rem 0rem 4rem 0rem;
  }
  .Philosophy, .Appointments p {
    font-size: 0.77rem;
  }
  h3 {
    text-align: center;
    width: 100%;
    padding: 0.5rem;
  }
  footer {
    justify-content: center;
  }
  footer img {
    margin: 0rem;
  }
  footer p {
    display: none;
  }
}
